registry=https://defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/ 
                        
always-auth=true


; begin auth token
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:username=defradev
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:_password=${NPM_TOKEN} #DO NOT CREATE A COMMIT / PR with your PAT!!!
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/registry/:email=npm requires email to be set but doesn't use the value
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:username=defradev
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:_password=${NPM_TOKEN}
//defradev.pkgs.visualstudio.com/DEFRA-EUX-MMO/_packaging/mmo-shared-reference-data/npm/:email=npm requires email to be set but doesn't use the value
; end auth token