name: $(BuildID).$(Date:yyyyMMdd).$(SourceBranchName)

parameters:
  - name: deployFromFeature
    displayName: "Deploy from Feature Branch"
    type: boolean
    default: false
  - name: deployToSecondaryRegion
    displayName: "Deploy to Secondary Region for DR"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - 'main'
      - 'develop'
      - 'hotfix/*'
      - 'feature/*'

resources:
  repositories:
    - repository: MMOPipelineCommon
      name: mmo-fes-pipeline-common
      type: git
      ref: main

extends:
  template: /includes/app-deployment.yaml@MMOPipelineCommon
  parameters:
    appName: 'mmo-fes-reference-data-reader'
    deployFromFeature: ${{ parameters.deployFromFeature }}
    deployToSecondaryRegion: ${{ parameters.deployToSecondaryRegion }}
